{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.3.0",
    "id": "123abcdemo",
    "label": "{{ app_name }}",
    "remark": "HTTPS with predictive-node pool",
    "{{ tenant }}": {
      "class": "Tenant",
    }
  }
}
